.feature-pro-sec {
  width: 100%;
  padding: 20px 80px;
  text-align: center;
}
.feature-title {
  font-size: 3.5rem;
  font-weight: 600;
}
.feature-paragraph {
  font-size: 1.3rem;
  color: #b2bec3;
  margin-bottom: 80px;
}
.product-main-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}
.feature-products {
  border: 1px solid #e6e6e6;
  width: 20%;
  cursor: pointer;
  text-align: start;
  display: flex;
  margin: 10px;
  position: relative;
  padding: 10px;
  border-radius: 15px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  transition: all 0.3s ease;
}
.feature-products:hover {
  box-shadow: 1px 1px 30px rgb(226, 226, 226);
}
.feature-products .product-img {
  width: 100%;
  border-radius: 15px;
  margin-bottom: 20px;
}
.products-props-div {
  width: 100%;
}
.brand-name {
  color: #949494;
  font-size: 1.05rem;
}
.product-name {
  color: #127c76;
  font-size: 1.3rem;
}
.all-stars {
  color: #f39c12;
  font-size: 1.05rem;
  margin: 0.5rem 0;
}
.products-price {
  color: #127c76;
  font-size: 1.3rem;
}
.product-shop-cart {
  position: absolute;
  right: 5%;
  bottom: 3%;
  font-size: 1.3rem;
  color: #127c76;
}
@media screen and (max-width: 1280px) {
  .product-main-container {
    display: grid;
    justify-content: center;
    align-items: center;
    place-content: center;
    gap: 2rem 1.5rem;
    grid-template-columns: repeat(3, 1fr);
  }
  .feature-products {
    width: 100%;
  }
}
@media screen and (max-width: 1024px) {
  .feature-pro-sec {
    padding: 0rem 2rem;
  }
  .feature-products {
    margin: 0;
  }
  .product-main-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 768px) {
  .feature-title {
    font-size: 2.5rem;
  }
  .feature-paragraph {
    font-size: 1rem;
  }
}

@media screen and (max-width: 680px) {
  .product-main-container {
    grid-template-columns: 1fr;
  }
  .feature-products {
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    width: 90%;
  }
}
@media screen and (max-width: 480px) {
  .feature-title {
    font-size: 1.7rem;
  }
  .feature-paragraph {
    font-size: 0.7rem;
  }
  .feature-products {
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    width: 98%;
  }
  .brand-name {
    font-size: 1rem;
  }
  .product-name,
  .products-price,
  .product-shop-cart {
    font-size: 1.2rem;
  }
}
